<div class="content-notice__list" id={{id}}>
	<p>{{text}}</p>
	<p>Start: {{start}}   End: {{end}}</p>
    
    <button class="btn btn-success" data-id="{{id}}" name="Edit">Edit</button>
    <button class="btn btn-success" data-id="{{id}}" name="Delete">Delete</button>
    <p>    
</div>