<div class="content-notice__list" id={{id}}>
    <img src="./images/Building_Repair.png" onError="this.onerror=null;this.src='/images/Notice.png';" >
    <div class = "noticetext">
	<p>{{text}}</p>
    </div>
    <div class = "noticestart">
	<p>Start: {{start}}</p>
    </div> 
    <div class = "noticeend">    
    <p>End: {{end}}</p>
    </div>
    <button class="btn btn-success" data-id="{{id}}" name="Edit">Edit</button>
    <button class="btn btn-success" data-id="{{id}}" name="Delete">Delete</button>
       
</div>